{% extends 'base.html' %}
{% load server_time %}
{% current_time "%Y-%m-%d %I:%M %p" as the_time %}
{% block title %}Главная{% endblock title %}
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>Главная страница</h1>
            {% if turn_on_block %}
                <div>
                    <p>Блок с контенктом включен</p>
                </div>
            {% else %}
                <div>
                    <p>The time is {{ the_time }}.</p>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <p>Текущий пользователь: {{ user.username }}</p>
            {% else %}
                <p>Вы не авторизированы</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
