{% extends 'base.html' %}
{% load main_tags %}
{% load static %}
{% current_time "%Y-%m-%d" as the_time %}
{% block title %}Главная{% endblock title %}
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>Главная страница</h1>
            <div>
                {% if request.mobile %}
                <p>Мобильный контент</p>  
                <p>Можно отображать разные части страницы для десктопов и мобильных устройств</p>    
                {% endif %}
                <p>Текущее время сервера {% current_time "%H:%M:%S" %}.</p>
                <p>{{ 'Привет мир' | reverse_text }}</p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-10">
                <form id="chat-log" action="">
                    <div class="alert alert-success message">Привет!</div>
                </form>
                <div class="input-group mb-3">
                    <input class="form-control" id="chat-message-input" type="text" size="60"><br>
                    <button class="btn btn-outline-secondary" id="chat-message-submit" type="submit">Отправить</button>
                </div>
                
            </div>
        </div>
        {{ uuid|json_script:"uuid" }}
        <script src="{% static "js/chat.js" %}">
        </script>
    </div>
{% endblock content %}
