{% extends 'index.html' %}
{% block title %}Вход на сайт{% endblock title %}
{% block content %}
    <div class="container my-4">
        <h1 class="display-4">{% block h1 %}Введите логин и пароль{% endblock h1 %}</h1>
        <div class="row mx-auto my-4">
            <div class="col-md-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-light" type="submit" role="button" value="{% block btn_name %}Войти{% endblock btn_name %}">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}