{% extends 'index.html' %}
{% block title %}Купить {{ product.name }}{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>{{ product.name }}</h1>
            <p>Описание: {{ product.description }}</p>
            <p>{{ product.price }} Рублей</p>
            <p>Имя продавца: {{ product.vendor.username }}</p>
            <p>Количество просмотров: {{ counter }}</p>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="{% url 'goods_edit' pk=product.id %}" class="btn btn-primary" role="button">Изменить</a>
            </div>
        </div>
    </div>
{% endblock content %}