{% extends 'index.html' %}
{% block title %}Список товаров{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <h1>Список товаров</h1>
            <ul>
                {% for product in products %}
                    <li class="mt-2"><a href="{% url 'goods_detail' pk=product.id %}">{{ product.name }}</a> ТЕГИ:
                        {% for tag in product.tags.all %}<a class="btn btn-primary btn-sm" href="?tag={{ tag.name }}">{{ tag.name }}</a>{% endfor %}</li>
                {% endfor %}
            </ul>
        </div>
    {% if user.is_authenticated and not user.subscriber %}
        <div class="row">
            <div class="col-md-10">
                <form action="{% url 'goods_subscriptions' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" role="button" value="{% block btn_name %}Подписаться{% endblock btn_name %}">
                </form>
            </div>
        </div>
    {% endif %}
        {% if page_obj.paginator.num_pages != 1 %}
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="Page pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}&{{ tag }}" aria-label="Previous"
                                       class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}&{{ tag }}">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.next_page_number }}&{{ tag }}">{{ page_obj.next_page_number }}</a>
                                </li>
                                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.paginator.num_pages }}&{{ tag }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ tag }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
