{{ activate_url }}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
    <tr>
        <center style="max-width: 600px; width: 100%;">
            {% load account %}
            {% load i18n %}
            {% user_display user as user_display %}
            {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
                You're receiving this e-mail because user {{ user_display }} has given your e-mail address to register an account on {{ site_domain }}.
                To confirm this is correct, go to <a href="{{ activate_url }}">link</a>
            {% endblocktrans %}
        </center>
    </tr>
</table>